@import url("animation.css");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    background-color: gray;
}

.container h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

/* pav style */

.block_pav {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.block_pav .circle_pav {

    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: aliceblue;
    animation-name: circle_pav;
    animation-duration: 5s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;

}

/* end pav style */

/*rom style*/

.block-rrr {
    display: flex;
    justify-content: center
}

.coffee-rrr:hover {
    box-shadow: 0 0 0 4px #ddd, 0 0 0 8px #ccc, 0 0 0 12px #bbb, 0 0 0 14px #aaa, 0 0 0 16px #999, 0 0 0 18px #888;
    transition: all 1000ms;
    -o-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -webkit-transition: all 1000ms;
}

}

/*end rom style*/
